<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles">
    <title>Gallery</title>
</head>
<body>
    <header>
    <h1>Gallery</h1>
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>
    <section id="images">
        <img src="https://www.laut.de/Palace/palace-178706.jpg" alt="">
        <img src="https://f4.bcbits.com/img/0008019417_10.jpg" alt="">
        <img src="https://i-d-images.vice.com/images/articles/meta/2014/11/04/palace-are-jamie-ts-favourite-new-band-and-should-be-yours-too-1415112265.jpeg?crop=1xw:0.8321759259259259xh;center,center&resize=1200:*" alt="">
    </section>
</body>
</html>