<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles">
    <title>Works</title>
</head>
<body>
    <header>
    <h1>Works</h1>
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </header>
    <section id="albums">
        <h2>Studio Albums</h2>
        <img class="album-covers" src="https://e.snmc.io/i/1200/s/c14278667e860bc0a22cda8be48c0cbc/6251350" alt="">
        <img class="album-covers" src="https://media.livehub.me/image_f4123640-9016-4a51-bb89-a3c52db31288.jpg?width=1024&height=1024" alt="">
        <img class="album-covers" src="https://media.pitchfork.com/photos/61f0262d042f43bb36a89860/1:1/w_600/palace.jpeg" alt="">
    </section>
</body>
</html>